@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
body {
    background-color: rgba(20,20,20,1);
    font-family: 'Signika Negative', sans-serif;
    color: white;
    -webkit-text-size-adjust: 100%;
    display: grid;
    grid-template-areas:
        ". header return ."
        ". main contents ."
        ". article article ."
        ". article2 article2 ."
        ". article3 article3 ."
        ". article4 article4 ."
        ". article5 article5 ."
        ". article6 article6 ."
        ". footer footer .";
    grid-template-columns: auto 600px 480px auto;
    grid-template-rows: 6em minmax(0, auto) minmax(0, auto) auto auto;
    min-height: 100vh;
    scroll-padding-top: 6em;
    margin: 0px;
}
.return {
    grid-area: return;
}
.article {
    grid-area: article;
}
.article2 {
    grid-area: article2;
}
.article3 {
    grid-area: article3;
}
.article4 {
    grid-area: article4;
}
.article5 {
    grid-area: article5;
}
.article6 {
    grid-area: article6;
}
.button-top {
    color: white;
}
a {
color: white;
}
a:hover {
    color: #ff4444;
}
a:focus {
    color: #ff4444;
}
h1 {
    color: white;
}
.video {
    grid-area: video;
    align-content: center;
	max-width: -webkit-fill-available;
}
video {
    max-width: -webkit-fill-available;
}
.header-title {
    grid-area: header;
}
.grad {
    height: 40px;
    width: fit-content;
}
.center {
    text-align: center;
}
b {
    font-weight: 1300;
}
.navbar {
    grid-area: header;
}
.title {
    font-size: 40px;
    width: 100%;
    max-width: 520px;
    grid-area: main;
}

.underline {
	text-decoration: none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
    background-position: left bottom;
	transition: 1s all;
}
.underline:hover {
	background-size: 100% .1em;
	transition: 1s background-size;
	transition: 1s all;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 200,
  'opsz' 48
}
.video-js {
    height: 610px;
	width: 1280px;
}
.contents {
    grid-area: contents;
}
code {
    background-color: gray;
    border-radius: 5px;
}
hr {
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
