@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
body {
    background-color: rgba(20,20,20,1);
    font-family: 'Signika Negative', sans-serif;
    color: white;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}
h1 {
    color: white;
}
.grad {
    height: 40px;
    background-color: grey;
    background-image: linear-gradient(to bottom right, red, purple);
}
a {
    height: 40px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.center {
    text-align: center;
}
b {
    font-weight: 1300;
}
.title {
    font-size: 60px;
    width: 100%;
    max-width: 400px;
}