@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
body {
    background-color: rgba(20,20,20,1);
    font-family: 'Signika Negative', sans-serif;
    color: white;
}
h1 {
    color: white;
}
.grad {
    height: 30px;
    background-color: grey;
    background-image: linear-gradient(to bottom right, red, purple);
}
a {
    height: 30px;
    color: white;
    border-radius: 4px;
}