@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
body {
    background-color: rgba(20,20,20,1);
    font-family: 'Signika Negative', sans-serif;
    color: white;
    -webkit-text-size-adjust: 100%;
    display: grid;
    grid-template-areas:
        " 1 1 "
        " 2 2 "
        " 3 3 "
        " 4 4 "
        " 5 5 ";
    grid-template-columns: auto 600px 480px auto;
    grid-template-rows: 6em minmax(0, auto) minmax(0, auto) auto auto;
    min-height: 100vh;
    min-width: 100vw;
    scroll-padding-top: 6em;
}
h1 {
    color: white;
}
.grad {
    height: 40px;
    background-color: grey;
    background-image: linear-gradient(to bottom right, red, purple);
}
a {
    height: 40px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.center {
    text-align: center;
}
b {
    font-weight: 1300;
}
.title {
    font-size: 60px;
    width: 100%;
    max-width: 400px;
}