body {
    font-family: Arial;
    padding: 0px;
    color: white;
    background-color: #2a2a2a;
    }
a {
    color: #777;
    transition: transform 0.2s;
}
a:hover{
color:#ff4444;
text-decoration: none;
transition: transform 0.2s;
}
a:focus {
   color:#ff4444;
text-decoration: none;
transition: transform 0.2s;
}
.awhite {
    color: white;
}
.awhite:hover {
    color: DodgerBlue;
}
.tenborder {
    padding: 10px;
}
.sidebar {
    background-color: #222222;
}
.sidebarbtn-selected {
    background-color: #444444;
}
.sidebarbtn:hover {
    background-color: #333333;
}
.awhitesidebar {
    color: white;
}
.awhitesidebar:hover {
    color: lightgray;
}
.sidebarbtn-selected:hover {
    background-color: #555555;
}
.hr {
    margin: 3px;
    margin-right: 5px;
    margin-left: 5px;
    height: 1px;
    color: #888888;
    background-color: #888888;
    border: none;
    }
    .topbar {
        width: 100%;
  }
  .topbarelements {
      display: inline-block;
  }
  .topbarelements-right {
      float: right;
      margin-top: 5px;
  }
  .topbarelements-center {
      float: left;
  }
  .button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(20,20,20,0.2);
  border-radius: 6px;
  outline: none;
  }
  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  }
  .login-item {
      display: inline-block;
  }
  .login-item-icon {
      float: left;
      margin-right: 5px;
      margin-top: 5px;
  }
  .login-item-icon, .login-item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  }