body {
    font-family: Arial;
    padding: 0px;
    color: white;
    background-color: #131b27;
}
.search-form-container {
    background: #212836;
    border: #212836 1px solid;
    padding: 20px;
    border-radius: 6px;
}
.input-row {
    margin-bottom: 20px;
}
.input-field {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    border: #323947 1px solid;
    background: #323947;
}
.input-field:focus {
    color: white;
}
.input-field2 {
    width: 100%;
    max-width: 100px;
    border-radius: 2px;
    padding: 10px;
    border: #323947 1px solid;
    background:#323947;
}
.input-field2:focus {
    color: white;
}
.btn-submit {
    padding: 10px 20px;
    background: #323947;
    border: #323947 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100px;
    border-radius: 6px;
    cursor:pointer;
}
.videos-data-container {
    background: #212836;
    border: #212836 1px solid;
    padding: 10px;
    border-radius: 6px;
}
.response {
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
}
.error {
     background: #331111;
}
.success {
    background: #c5f3c3;
    border: #bbe6ba 1px solid;
}
.result-heading {
    margin: 30px 0px;
    padding: 20px 10px 5px 0px;
    border-bottom: #e0dfdf 1px solid;
}
iframe {
    border: 0px;
}
.video-tile {
    display: inline-block;
    margin: 10px 10px 20px 10px;
    border: #192331 2px solid;
    border-radius: 8px;
    background-color: #192331;
    transition: transform 0.2s;
}
.video-tile:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
}
.videoDiv {
    width: 270px;
    height: 160px;
    display: inline-block;
    padding-top: 6px;
}
.videoTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
}
.videoDesc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
}
.videoInfo {
    width: 270px;
}
a {
    color: #777;
    transition: transform 0.2s;
}
a:hover{
color:#ff4444;
text-decoration: none;
transition: transform 0.2s;
}
a:focus {
   color:#ff4444;
text-decoration: none;
transition: transform 0.2s;
}
details {
  padding: 10px 20px;
    background: #335;
    border: #333 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100%;
    max-width: 415px;
    border-radius: 6px;
    cursor:pointer;  
}
.detailred {
    padding: 10px 20px;
    background: #533;
    border: #333 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100%;
    max-width: 415px;
    border-radius: 6px;
    cursor:pointer;  
}
.detailgreen {
    padding: 10px 20px;
    background: #353;
    border: #333 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100%;
    max-width: 415px;
    border-radius: 6px;
    cursor:pointer;  
}
.search-inline {
    display: inline-block;
}
.awhite {
    color: white;
}
.awhite:hover {
    color: DodgerBlue;
}
.tenborder {
    padding: 10px;
}
.topbar {
      width: 100%;
}
.topbarelements {
    display: inline-block;
}
.topbarelements-right {
    float: right;
    margin-top: 15px;
}
.topbarelements-center {
    float: left;
}
.button {
display: inline-block;
padding: 10px 20px;
text-align: center;
text-decoration: none;
background-color: rgba(20,20,20,0.2);
border-radius: 6px;
outline: none;
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
.login-item {
    display: inline-block;
}
.login-item-icon {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.login-item-icon, .login-item-text {
display: flex;
flex-direction: row;
align-items: center;
list-style-type: none;
}

.sidebarbtn-selected:hover {
    background-color: #334158;
}
.sidebar {
    background-color: #212836;
    line-height: 0.5;
}
.sidebarbtn-selected {
    background-color: #323947;
}
.sidebarbtn:hover {
    background-color: #344052;
}


a {
    color: #555;
}
a:hover {
    color: #ff4444;
    text-decoration: none;
}
a:focus {
    color: #f44;
    text-decoration: none;
}
.awhite {
    color: white;
}
.awhite:hover {
    color: DodgerBlue;
}
.tenborder {
    padding: 10px;
}
.awhitesidebar {
    color: white;
}
.awhitesidebar:hover {
    color: lightgray;
}

.awhite:hover {
    color: DodgerBlue;
}
.awhitesidebar {
    color: white;
}
.awhitesidebar:hover {
    color: lightgray;
}
.hr {
margin: 3px;
margin-right: 5px;
margin-left: 5px;
height: 1px;
color: #888888;
background-color: #888888;
border: none;
}
::-webkit-scrollbar{width:8px; height: 8px;}
::-webkit-scrollbar-track{background:transparent}
::-webkit-scrollbar-thumb{background: rgba(100,100,100,0.4); border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background: rgba(70,70,70,0.4);}

.button {
display: inline-block;
padding: 10px 20px;
text-align: center;
text-decoration: none;
background-color: rgba(20,20,20,0.2);
color: white;
border-radius: 6px;
outline: none;
transition: transform 0.2s;
transition: 0.3s
}
.button:hover {
cursor: pointer;
color: #ff4444;
background-color: rgba(30,30,30,0.2);
text-decoration: none;
transition: transform 0.2s;
transition: 0.3s
}
a:hover {
    color: ff4444;
    text-decoration: none;
}
a:focus {
    color: #f44;
    text-decoration: none;
}
.sidebarbtn {
     color: white;
     border-radius: 6px;
     transition: transform 0.2s;
     transition: 0.3s
}
.sidebarbtn:hover {
     transition: transform 0.2s;
     transition: 0.3s
}
.sidebarbtn:focus {
     transition: transform 0.2s;
     transition: 0.3s
}