@font-face {
    font-family: 'Signika Negative';
    src: url('/styles/-signikanegative400.ttf') format('truetype');
}

body {
    font-family: 'Signika Negative', sans-serif;
    padding: 0px;
    color: white;
    background-color: #131b27;
}

a {
    color: #929292;
    transition: transform 0.2s;
}
a:hover, a:focus {
    color: #ff4444;
    text-decoration: none;
}

.input-field {
    width: 200px;
    border-radius: 3px;
    padding: 5px;
    border: #1f2235 2px solid;
    background: #17202c;
}

.input-field:focus {
     color: white;
}

.btn-submit {
    padding: 10px 10px;
     border: #323947 1px solid;
    background: #323947;
    color: #ffffff;
    font-size: 0.9em;
    width: 100px;
    border-radius: 2px;
    cursor:pointer;
}

.video-tile {
    display: inline-block;
    border-radius: 8px;
    margin-top: 6px;
    margin-right: 7px;
    margin-right: 7px;
    text-align: left;
}
.videoDiv {
    width: 256px;
    height: 148px;
    display: inline-block;
}
.videoTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
}
.videoDesc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
}
.videoInfo {
    width: 256px;
}


.search-inline {
    display: inline-block;
}

.tenborder {
    padding: 10px;
}
.topbar {
    width: 100%;
    font-size: 20px;
}
.topbarelements {
  display: inline-block;
}
.topbarelements-right {
    float: right;
    margin-top: 5px;
  }
.topbarelements-center {
  float: center;
}


.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

.login-item {
    display: inline-block;
    padding: 1px 6px 1px 6px;
}
.login-item-icon {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.login-item-icon, .login-item-text {
display: flex;
flex-direction: row;
align-items: center;
list-style-type: none;
}

.sidebar {
    background-color: #1b202c;
    line-height: 0.5;
}
.sidebarbtn-selected, .sidebarbtn:hover, .sidebarbtn-selected:hover {
    background-color: #323947;
}

.sidebarbtn, .sidebarbtn:hover, .sidebarbtn:focus {
    color: white;
    border-radius: 6px;
    transition: transform 0.2s;
    transition: 0.3s
}

.tenborder {
    padding: 10px;
}
.awhitesidebar, .awhite {
    color: white;
}
.awhite:hover {
    color: DodgerBlue;
}

.hr {
margin: 3px;
margin-right: 5px;
margin-left: 5px;
height: 1px;
color: #888888;
background-color: #888888;
border: none;
}

::-webkit-scrollbar{width:8px; height: 8px;}
::-webkit-scrollbar-track{background:transparent}
::-webkit-scrollbar-thumb{background: rgba(100,100,100,0.4); border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background: rgba(70,70,70,0.4);}

.button {
display: inline-block;
padding: 10px 20px;
text-align: center;
text-decoration: none;
background-color: rgba(20,20,20,0.2);
color: white;
border-radius: 6px;
outline: none;
transition: transform 0.2s;
transition: 0.3s
}

.button:hover {
cursor: pointer;
color: #ff4444;
background-color: rgba(30,30,30,0.2);
text-decoration: none;
transition: transform 0.2s;
transition: 0.3s
}



.footer {
    width: 100%;
    padding: 10px;
    background-color: #212836;
    border-radius: 8px;
}
.timestamp {
    position: absolute;
    margin-top: -23px;
    right: 4px;
    background: rgba(0,0,0,0.7);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}
img {
    border-radius: 4px
}