            body {
                font-family: Arial;
                padding: 10px;
                color: white;
                background-color: #2A2A2A;
                border: 0px;
            }
            a {
                color: green;
            }
            a:hover {
                color: lime;
            }
            a:focus {
                color: lime;
            }